<div class="search">
    <div style="display: none;">
        <select>
            <option><input placeholder="test"></option>
            <option *ngFor="let item of data">{{item.title}}</option>
        </select>
        <br>
        <input type="text" list=data>
        <datalist id="data">
            <select>
                <option *ngFor="let item of data">{{item.title}}</option>
            </select>
        </datalist>
        <br>
        <div style="position:relative;width:220px;height:25px;border:0;padding:0;margin:0;">
            <select
                style="position:absolute;top:0px;left:0px;width:220px; height:25px;line-height:25px;margin:0;padding:0;"
                onchange="document.getElementById('displayValue').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
                <option></option>
                <option value="one">one</option>
                <option value="two">two</option>
                <option value="three">three</option>
            </select>
            <input type="text" name="displayValue" id="displayValue" placeholder="add/select a value" onfocus=""
                style="position:absolute;top:0px;left:5px;width:180px\9;height:20px; height:21px\9;border:1px solid #556;margin-right: 100px;">
            <input name="idValue" id="idValue" type="hidden">
        </div>
    </div>
    <app-searchselect [data]="this.data" [stringify]="this.setString"></app-searchselect>
    <app-searchselect [data]="this.data" [stringify]="this.setString2"></app-searchselect>
</div>